common --show_timestamps --experimental_convenience_symlinks=ignore

build --cxxopt='-std=c++14' --action_env SENTRY_DSN_PATH= --action_env APPLE_SDK_PLATFORM=iPhoneSimulator --action_env SENTRY_DSN_HOST= 
